<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Partido</ion-title>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="internacional" >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="content-main-match">
  
<ion-card *ngFor="let detail of details" class="content-detail-match" >
  <ion-grid class="card-match">

    <ion-row>
      <ion-col size="12">
        <h4>{{ detail.league_name }}</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label>{{ detail.stage_name}}</ion-label>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="1" ></ion-col>
      <ion-col size="2">
        <img src="{{detail.team_home_badge}}">
      </ion-col>
      <ion-col size="2">
        <p>{{ detail.match_hometeam_score}}</p>
      </ion-col>
      <ion-col size="2">
        <p>:</p>
      </ion-col>
      <ion-col size="2">
        <p>{{ detail.match_awayteam_score}}</p>
      </ion-col>
      <ion-col size="2">
        <img src="{{detail.team_away_badge}}">
      </ion-col>
      <ion-col size="1" ></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-label>{{ detail.match_status }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <img src="assets/imgs/cancha.png" alt="" srcset="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label>{{ detail.match_stadium }}</ion-label>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-card>

<ion-segment mode="ios" class="segment-values" (ionChange)="changeSegment($event)" value="estadisticas">
  <ion-segment-button  value="estadisticas">
    <ion-label class="label-text-segment" >Estadísticas</ion-label>
  </ion-segment-button>

  <ion-segment-button value="goles">
    <ion-label class="label-text-segment" >Goles</ion-label>
  </ion-segment-button>

  <ion-segment-button value="alineaciones">
    <ion-label class="label-text-segment" >Alineaciones</ion-label>
  </ion-segment-button>
</ion-segment>


<div *ngIf=" opcion =='estadisticas'">
  <ion-card *ngFor="let detail of details" class="content-detail-match">
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[18].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Posesión del balón</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[18].away }}
        </ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[4].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Sustitución</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[4].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[5].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Ataques</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[5].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[6].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Ataques peligrosos</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[6].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[9].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Disparos totales</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[9].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[10].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Tiros a puerta</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[10].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[11].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Tiros fuera de portería</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[11].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[12].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Disparos bloqueados</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[12].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[15].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Faltas</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[15].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[16].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Corners</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[16].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[17].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Fueras de juego</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[17].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[21].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Pases Totales</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[21].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3" >
        <ion-label>
          {{ detail.statistics[22].home }}
        </ion-label>
      </ion-col>
      <ion-col size="6" >
        <ion-label>Pases precisos</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>
          {{ detail.statistics[22].away }}
        </ion-label>
      </ion-col>
    </ion-row>
  
  </ion-card>
  
</div>

<div *ngIf=" opcion =='goles'">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="2" >
          <ion-label>Minuto</ion-label>
        </ion-col>
        <ion-col size="4" >
          <ion-label>Jugador</ion-label>
        </ion-col>
        <ion-col size="3" >
          <ion-label>Tiempo</ion-label>
        </ion-col>
        <ion-col size="3" >
          <ion-label>Marcador</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row *ngFor="let detail of details[0].goalscorer">
        <ion-col size="2" >
          <ion-label> {{ detail.time }}'</ion-label>
        </ion-col>
        <ion-col size="4" >
          <ion-label>{{ detail.home_scorer || detail.away_scorer }}</ion-label>
        </ion-col>
        <ion-col size="3" >
          <ion-label>{{ detail.score_info_time }}</ion-label>
        </ion-col>
        <ion-col size="3" >
          <ion-label>{{ detail.score }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>

<div *ngIf=" opcion =='alineaciones'">
  <ion-card>
    <ion-grid >
      <ion-row *ngFor="let lineup of details" >
        <ion-col size="6" >
          <ion-badge >{{ lineup.match_hometeam_system}}</ion-badge>
        </ion-col>
        <ion-col size="6" >
          <ion-badge >{{ lineup.match_awayteam_system}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>

        <ion-col size="6">

          <ion-grid>

            <ion-row>
              <ion-col class="col-player" size="8"> <ion-label>Jugador</ion-label></ion-col>
              <ion-col class="col-player" size="4"> <ion-badge  color="success" > Dorsal </ion-badge></ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[0].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[0].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[1].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[1].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[2].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[2].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[3].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[3].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[4].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[4].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[5].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[5].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[6].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[6].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[7].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[7].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[8].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[8].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[9].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[9].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.home.starting_lineups[10].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.home.starting_lineups[10].lineup_number }} </ion-badge></ion-col>
            </ion-row>

          </ion-grid>


        </ion-col>

        <ion-col size="6" >
          <ion-grid>

            <ion-row>
              <ion-col class="col-player" size="8"> <ion-label>Jugador</ion-label></ion-col>
              <ion-col class="col-player" size="4"> <ion-badge  color="success" > Dorsal </ion-badge></ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[0].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[0].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[1].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[1].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[2].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[2].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[3].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[3].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[4].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[4].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[5].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[5].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[6].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[6].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[7].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[7].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[8].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[8].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[9].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[9].lineup_number }} </ion-badge></ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col class="col-player" size="9"> <ion-label>{{ details[0].lineup.away.starting_lineups[10].lineup_player }}</ion-label></ion-col>
              <ion-col class="col-player" size="3"> <ion-badge class="badge-number"> {{ details[0].lineup.away.starting_lineups[10].lineup_number }} </ion-badge></ion-col>
            </ion-row>

          </ion-grid>
          

          <!-- <ion-label>{{ details[0].lineup.away.starting_lineups[0].lineup_player }}</ion-label> -->
      
        </ion-col>
      
      </ion-row>
      
    </ion-grid>


  </ion-card>
</div>

</ion-content>


