<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Partido</ion-title>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="internacional" >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div class="div_cuarto">
    <ion-grid class="grid_cuarto">
      <ion-row class="row_cuarto">
        <!-- <ion-col (click)="antMatchRoundOne()" class="col_ant" size="3"> -->
        <ion-col class="col_ant" size="3">
          <ion-label class="text_ant">ANT</ion-label>
        </ion-col>
        <ion-col class="col_grupo" size="6">
          <ion-label class="ion-label-item-cuarto">Fecha {{ nextRound }}</ion-label>
        </ion-col>
        <ion-col (click)="nextMatches()" class="col_sig" size="3">
        <!-- <ion-col  class="col_sig" size="3"> -->
          <ion-label class="text_sig">SIG</ion-label>
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </div>

  <div  class="div-partidos ">
  <div *ngFor="let match of matchesPLFilter, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

    <ion-row class="row_fecha">  

      <ion-col class="col_tex_country" size="4">
        <ion-label  class="label_fecha">
          <!-- {{match.country_name}} -->
        </ion-label>
      </ion-col>
      
      <ion-col class="col_tex_fecha" size="4">
        <ion-label  class="label_fecha">
          {{match.match_date}}
          
        </ion-label>
      </ion-col>

      <ion-col class="col_tex_league" size="4">
        <ion-label  class="label_fecha">
          {{match.league_name}}
        </ion-label>
      </ion-col>
    
    </ion-row>
      
    <ion-row>
      <ion-col class="col_nom_eq1" size="3">
        <ion-label class="label_e1">
          {{match.match_hometeam_name}}
        </ion-label>
      </ion-col>
      
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          
          <img class="con_img" src="{{match.team_home_badge}}" >
        </ion-item>
        
      </ion-col>
      <ion-col class="col_vs" size="2">
        <ion-label class="label_tittle_vs">
          {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score}}
          
        </ion-label>
      </ion-col>
      
      <ion-col class="col_img" size="2">
        <ion-item lines="none" class="item_avatar">
          <img class="con_img" src="{{match.team_away_badge}}" >
        </ion-item>
      </ion-col>
      
      <ion-col class="col_nom_eq2" size="3">
        <ion-label class="label_e2">
          {{match.match_awayteam_name}}
        </ion-label>
      </ion-col>
    </ion-row> 

    <ion-row class="row_fecha">  
      <ion-col class="col_tex_fecha" size="12">
        <ion-label  class="label_estadio">
          {{match.match_stadium}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row_fecha">  
      <ion-col class="col_tex_fecha" size="12">
        <ion-label  class="label_estadio">
          {{match.match_status}}
        </ion-label>
      </ion-col>
    </ion-row>


  </div>

<!-- Remove the unnecessary closing tag </ion-content> -->
<!-- </ion-content> -->

</div>
</ion-content>
