<ion-header>
  <ion-toolbar class="toolbar_init" mode="ios">
    <ion-title style="text-align: center;">PRODV</ion-title> 
  </ion-toolbar>
</ion-header>



 <ion-content class="content_pri" >

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-margin">
      <ion-col size="6" *ngFor="let card of leagueCards" class="ion-no-padding">
        <ion-card (click)="getLeagues(card.league_id)" [routerLink]="['/detail-intl/' + card.league_id]" class="custom-card">
        <!-- <ion-card (click)="getLeagues(card.league_id)" class="custom-card"> -->
          <ion-card-content class="custom-content">
            <div class="image-container">
              <img [src]="card.imagen" alt="Imagen de la tarjeta" class="custom-image">
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
  
  
  

</ion-content>


