.toolbar_init{
  // height: auto;
  --background: #075E54;
  color: white;
  // width: auto;
}

.custom-card {
  height: 200px; /* Ajusta la altura de la tarjeta según tus necesidades */
  padding: 10px; /* Ajusta el relleno de la tarjeta según tus necesidades */
  margin-bottom: 10px; /* Ajusta el margen inferior entre las tarjetas según tus necesidades */
}

.custom-content {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.image-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Para que el contenedor de la imagen ocupe toda la altura de la tarjeta */
}

.custom-image {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen para que no exceda el tamaño de su contenedor */
  max-height: 100%; /* Ajusta el tamaño máximo de la imagen para que no exceda el tamaño de su contenedor */
  object-fit: contain; /* Escala la imagen para que quepa dentro de su contenedor sin distorsión */
}
