ion-tab-bar{
    align-self: center;
    bottom: 0;
    --background: #075E54;
    border-radius: 50px;
    --color:#fff;
    margin-bottom: 15px;
    position: absolute;
    width: 85%;
}
ion-tab-button{
    --color-selected:#25D366;
    margin-top: auto;
    margin-bottom: auto;
}

.text-selected-item{
    font-size: 12px;
    font-weight: normal;
}