<ion-header>
  <ion-toolbar mode="ios">
    <ion-title style="text-align: center;">PRODV</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-segment value="buttons" (ionChange)="changeOpctionSerieLigaPro($event)" value='{{opcionSerie}}'>
  <ion-segment-button value="seriea">
    <ion-label>SERIE A</ion-label>
  </ion-segment-button>
  <ion-segment-button value="serieb">
    <ion-label>SERIE B</ion-label>
  </ion-segment-button>
</ion-segment>




<ion-content class="content_pri" >




<div *ngIf="opcionSerie =='seriea'">

  <ion-segment value="buttons" (ionChange)="changeSegmentLeaguePro($event)" value='{{opcion}}'>
    <ion-segment-button value="partidos">
      <ion-label>Partidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="clasificacion">
      <ion-label>Clasificación</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stadium">
      <ion-label>Estadios</ion-label>
    </ion-segment-button>
    <ion-segment-button value="playes">
      <ion-label>Jugadores</ion-label>
    </ion-segment-button>
  </ion-segment>
   
  <div *ngIf="opcion =='partidos'">

    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Select fruit">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <div *ngFor="let match of matches, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

      <ion-row class="row_fecha">  
  
        <ion-col class="col_tex_country" size="4">
          <ion-label  class="label_fecha">
            {{match.country_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_tex_fecha" size="4">
          <ion-label  class="label_fecha">
            {{match.match_date | date : "yyyy-mm-dd"}}
          </ion-label>
        </ion-col>
  
        <ion-col class="col_tex_league" size="4">
          <ion-label  class="label_fecha">
            {{match.league_name}}
          </ion-label>
        </ion-col>
      
      </ion-row>
        
      <ion-row>
        <ion-col class="col_nom_eq1" size="3">
          <ion-label class="label_e1">
            {{match.match_hometeam_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            
            <img class="con_img" src="{{match.team_home_badge}}" >
          </ion-item>
          
        </ion-col>
        <ion-col class="col_vs" size="2">
          <ion-label class="label_tittle_vs">
            {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score
            }}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" src="{{match.team_away_badge}}" >
          </ion-item>
        </ion-col>
        
        <ion-col class="col_nom_eq2" size="3">
          <ion-label class="label_e2">
            {{match.match_awayteam_name}}
          </ion-label>
        </ion-col>
      </ion-row> 
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_stadium}}
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_status}}
          </ion-label>
        </ion-col>
      </ion-row>
  
  
    </div>
  </div>

  <div  *ngIf="opcion =='clasificacion'" >

    <ion-segment value="buttons" (ionChange)="changeStadingLigaPro($event)" value='opcStading'>
      <ion-segment-button value="firstStading">
        <ion-label>Primera Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="secondStading">
        <ion-label>Segunda Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="acumulada">
        <ion-label>Acumulada</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="opcStading == 'firstStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingOneRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'secondStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingSecondRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'acumulada'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="3" class="col-cla-title">PTS</ion-col>
          <ion-col size="2" class="col-cla-title">GD</ion-col>
          <ion-col size="2" class="col-cla-title">PT</ion-col>

        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let acumulada of newAcumulada" >

          <ion-col size="5" class="col-cla-name">{{ acumulada.team }}  </ion-col>
          <ion-col size="3" class="col-cla"> {{ acumulada.pts }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.gd }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.pt }} </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>

</div>




<div *ngIf="opcionSerie==='serieb'" >

  <ion-segment value="buttons" (ionChange)="changeSegmentLeagueProB($event)" value='{{opcionB}}'>
    <ion-segment-button value="partidosB">
      <ion-label>Partidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="clasificacionB">
      <ion-label>Clasificación</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stadium">
      <ion-label>Estadios</ion-label>
    </ion-segment-button>
    <ion-segment-button value="playes">
      <ion-label>Jugadores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--% CARD PARTIDOS SERIE B  -->

  <div *ngIf="opcionB =='partidosB'">

    <div *ngFor="let match of matchesB, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

      <ion-row class="row_fecha">  
  
        <ion-col class="col_tex_country" size="4">
          <ion-label  class="label_fecha">
            {{match.country_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_tex_fecha" size="4">
          <ion-label  class="label_fecha">
            {{match.match_date | date : "yyyy-mm-dd"}}
          </ion-label>
        </ion-col>
  
        <ion-col class="col_tex_league" size="4">
          <ion-label  class="label_fecha">
            {{match.league_name}}
          </ion-label>
        </ion-col>
      
      </ion-row>
        
      <ion-row>
        <ion-col class="col_nom_eq1" size="3">
          <ion-label class="label_e1">
            {{match.match_hometeam_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            
            <img class="con_img" src="{{match.team_home_badge}}" >
          </ion-item>
          
        </ion-col>
        <ion-col class="col_vs" size="2">
          <ion-label class="label_tittle_vs">
            {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score
            }}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" src="{{match.team_away_badge}}" >
          </ion-item>
        </ion-col>
        
        <ion-col class="col_nom_eq2" size="3">
          <ion-label class="label_e2">
            {{match.match_awayteam_name}}
          </ion-label>
        </ion-col>
      </ion-row> 
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_stadium}}
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_status}}
          </ion-label>
        </ion-col>
      </ion-row>
  
  
    </div>
  </div>

  <!--% Fin Partidos Serie B  -->

  <div  *ngIf="opcionB =='clasificacionB'" >

    <ion-segment value="buttons" (ionChange)="changeStadingLigaPro($event)" value='opcStadingB'>
      <ion-segment-button value="firstStadingB">
        <ion-label>Primera Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="secondStadingB">
        <ion-label>Segunda Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="acumuladaB">
        <ion-label>Acumulada</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="opcStadingB == 'firstStadingB'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingOneRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'secondStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingSecondRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'acumulada'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="3" class="col-cla-title">PTS</ion-col>
          <ion-col size="2" class="col-cla-title">GD</ion-col>
          <ion-col size="2" class="col-cla-title">PT</ion-col>

        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let acumulada of newAcumulada" >

          <ion-col size="5" class="col-cla-name">{{ acumulada.team }}  </ion-col>
          <ion-col size="3" class="col-cla"> {{ acumulada.pts }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.gd }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.pt }} </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>




  
</div>


  

</ion-content>


