<ion-header>
  <ion-toolbar class="header-league-name" mode="ios">
    <ion-title style="text-align: center;">PRODV</ion-title> 
  </ion-toolbar>
</ion-header>

<div class="campeonatos">
  <ion-toolbar class="toolbar_campeonato" mode="ios">
    <ion-segment scrollable slot="start" class="segment_campeonatos" mode="md" (ionChange)="changeOpctionSerieLigaPro($event)" value='{{opcionSerie}}'  >
      <ion-segment-button  value="seriea"  mode="ios"    class="segment_botones_campeonatos"  >
        <ion-label class="text_segment" >LIGA PRO SERIE A</ion-label> 
      </ion-segment-button>
      <ion-segment-button value="serieb" mode="ios"    class="segment_botones_campeonatos"  >
        <ion-label class="text_segment" >LIGA PRO SERIE B</ion-label> 
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</div>
<!-- <ion-segment value="buttons" (ionChange)="changeOpctionSerieLigaPro($event)" value='{{opcionSerie}}'>
  <ion-segment-button value="seriea">
    <ion-label>SERIE A</ion-label>
  </ion-segment-button>
  <ion-segment-button value="serieb">
    <ion-label>SERIE B</ion-label>
  </ion-segment-button>
</ion-segment> -->

<ion-content class="content_pri" >




<div *ngIf="opcionSerie =='seriea'">

  <div class="div_segmet_de">
    <ion-toolbar class="tolbar" mode="ios">
      
      <ion-segment class="segment_init"  slot="start" mode="md" (ionChange)="changeSegmentLeaguePro($event)" value="{{opcion}}">
        <ion-segment-button  class="segment_seg"  value="partidos">
          <ion-label class="text-selected-item_pri">Partidos</ion-label>
        </ion-segment-button>
        
        <ion-segment-button class="segment_seg"  value="clasificacion">
          <ion-label class="text-selected-item_pri" >Clasificación</ion-label>
        </ion-segment-button>

        <ion-segment-button class="segment_seg"  value="playes">
          <ion-label class="text-selected-item_pri" >Jugadores</ion-label>
        </ion-segment-button>
        
      </ion-segment>
    </ion-toolbar>
    
  </div>



  
   
  <div *ngIf="opcion =='partidos'">

    <ion-list>
      <ion-item>
        <ion-label>Proximos partidos</ion-label>
        <ion-select interface="action-sheet" placeholder="Seleccionar etapa"  (ionChange)="changeMatchRound($event)" value='{{opcMatchRound}}'>
          <ion-select-option value="round1">Primera Etapa</ion-select-option>
          <ion-select-option value="round2">Segunda Etapa</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
   <div *ngIf="opcMatchRound =='round1' ">

    <div class="div_cuarto">
      <ion-grid class="grid_cuarto">
        <ion-row class="row_cuarto">
          <ion-col (click)="antMatchRoundOne()" class="col_ant" size="3">
            <ion-label class="text_ant">ANT</ion-label>
          </ion-col>
          <ion-col class="col_grupo" size="6">
            <ion-label class="ion-label-item-cuarto">Fecha {{round}}</ion-label>
          </ion-col>
          <ion-col (click)="nextMatchRoundOne()" class="col_sig" size="3">
            <ion-label class="text_sig">SIG</ion-label>
          </ion-col>
    
        </ion-row>
      </ion-grid>
    </div>



    <div *ngFor="let match of matchesFilterOneRound, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

      <ion-row class="row_fecha">  
  
        <ion-col class="col_tex_country" size="4">
          <ion-label  class="label_fecha">
            <!-- {{match.country_name}} -->
          </ion-label>
        </ion-col>
        
        <ion-col class="col_tex_fecha" size="4">
          <ion-label  class="label_fecha">
            {{match.match_date | date : "yyyy-mm-dd"}}
          </ion-label>
        </ion-col>
  
        <ion-col class="col_tex_league" size="4">
          <ion-label  class="label_fecha">
            <!-- {{match.league_name}} -->
          </ion-label>
        </ion-col>
      
      </ion-row>
        
      <ion-row>
        <ion-col class="col_nom_eq1" size="3">
          <ion-label class="label_e1">
            {{match.match_hometeam_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            
            <img class="con_img" src="{{match.team_home_badge}}" >
          </ion-item>
          
        </ion-col>
        <ion-col class="col_vs" size="2">
          <ion-label class="label_tittle_vs">
            {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score
            }}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" src="{{match.team_away_badge}}" >
          </ion-item>
        </ion-col>
        
        <ion-col class="col_nom_eq2" size="3">
          <ion-label class="label_e2">
            {{match.match_awayteam_name}}
          </ion-label>
        </ion-col>
      </ion-row> 
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_stadium}}
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_status}}
          </ion-label>
        </ion-col>
      </ion-row>
  
  
    </div>

   </div>

   <div *ngIf="opcMatchRound =='round2'">

    <div class="div_cuarto">
      <ion-grid class="grid_cuarto">
        <ion-row class="row_cuarto">
          <ion-col (click)="antMatchRoundTwo()" class="col_ant" size="3">
            <ion-label class="text_ant">ANT</ion-label>
          </ion-col>
          <ion-col class="col_grupo" size="6">
            <ion-label class="ion-label-item-cuarto">Fecha {{roundValue}}</ion-label>
          </ion-col>
          <ion-col (click)="nextMatchRoundTwo()" class="col_sig" size="3">
            <ion-label class="text_sig">SIG</ion-label>
          </ion-col>
    
        </ion-row>
      </ion-grid>
    </div>

    <div *ngFor="let match of matchesFilterSecondRound, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

      <ion-row class="row_fecha">  
  
        <ion-col class="col_tex_country" size="4">
          <ion-label  class="label_fecha">
            <!-- {{match.country_name}} -->
          </ion-label>
        </ion-col>
        
        <ion-col class="col_tex_fecha" size="4">
          <ion-label  class="label_fecha">
            {{match.match_date | date : "yyyy-mm-dd"}}
          </ion-label>
        </ion-col>
  
        <ion-col class="col_tex_league" size="4">
          <ion-label  class="label_fecha">
            <!-- {{match.league_name}} -->
          </ion-label>
        </ion-col>
      
      </ion-row>
        
      <ion-row>
        <ion-col class="col_nom_eq1" size="3">
          <ion-label class="label_e1">
            {{match.match_hometeam_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            
            <img class="con_img" src="{{match.team_home_badge}}" >
          </ion-item>
          
        </ion-col>
        <ion-col class="col_vs" size="2">
          <ion-label class="label_tittle_vs">
            {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score
            }}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" src="{{match.team_away_badge}}" >
          </ion-item>
        </ion-col>
        
        <ion-col class="col_nom_eq2" size="3">
          <ion-label class="label_e2">
            {{match.match_awayteam_name}}
          </ion-label>
        </ion-col>
      </ion-row> 
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_stadium}}
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_status}}
          </ion-label>
        </ion-col>
      </ion-row>
  
  
    </div>

   </div>
   


  </div>

  <div  *ngIf="opcion =='clasificacion'" >

    <ion-list>
      <ion-item>
        <ion-label>Tabla de posición</ion-label>
        <ion-select interface="action-sheet" placeholder="Seleccionar etapa"  (ionChange)="changeStadingLigaPro($event)" value='opcStading'>
          <ion-select-option value="firstStading">Primera Etapa</ion-select-option>
          <ion-select-option value="secondStading">Segunda Etapa</ion-select-option>
          <ion-select-option value="acumulada">Acumulada</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div *ngIf="opcStading == 'firstStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingOneRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'secondStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingSecondRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'acumulada'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="3" class="col-cla-title">PTS</ion-col>
          <ion-col size="2" class="col-cla-title">GD</ion-col>
          <ion-col size="2" class="col-cla-title">PT</ion-col>

        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let acumulada of newAcumulada" >

          <ion-col size="5" class="col-cla-name">{{ acumulada.team }}  </ion-col>
          <ion-col size="3" class="col-cla"> {{ acumulada.pts }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.gd }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.pt }} </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>

  <div *ngIf="opcion === 'playes' " >

    <ion-grid class="custom-grid">
      <!-- Encabezado de la tabla -->
      <ion-row class="header-row">
        <ion-col size="1" class="header-col position-header">P</ion-col>
        <ion-col size="7" class="header-col">Jugador</ion-col>
        <ion-col size="2" class="header-col">G</ion-col>
        <ion-col size="2" class="header-col">G/P</ion-col>
      </ion-row>
      <!-- Datos de la tabla -->
      <ion-row *ngFor="let player of filterTopSoccerOneRound" class="player-row">
        <ion-col size="1" class="player-place"> {{ player.player_place }} </ion-col>
        <ion-col size="7" class="player-info">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-avatar class="avatar-custom">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
              <ion-col size="10">
                <ion-grid>
                  <ion-row><ion-col size="12" class="player-name">{{ player.player_name }}</ion-col></ion-row>
                  <ion-row><ion-col size="12" class="team-name">{{ player.team_name }}</ion-col></ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="2" class="goals"> {{ player.goals }} </ion-col>
        <ion-col size="2" class="penalty-goals"> {{ player.penalty_goals }} </ion-col>
      </ion-row>
    </ion-grid>
    
    
    

  </div>


</div>




<div *ngIf="opcionSerie==='serieb'" >

  <ion-segment value="buttons" (ionChange)="changeSegmentLeagueProB($event)" value='{{opcionB}}'>
    <ion-segment-button value="partidosB">
      <ion-label>Partidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="clasificacionB">
      <ion-label>Clasificación</ion-label>
    </ion-segment-button>
    <ion-segment-button value="playes">
      <ion-label>Jugadores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--% CARD PARTIDOS SERIE B  -->

  <div *ngIf="opcionB =='partidosB'">

    <div *ngFor="let match of matchesB, let i = index"  class="div-partidos" [routerLink]="['/details/' + match.match_id] ">

      <ion-row class="row_fecha">  
  
        <ion-col class="col_tex_country" size="4">
          <ion-label  class="label_fecha">
            {{match.country_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_tex_fecha" size="4">
          <ion-label  class="label_fecha">
            {{match.match_date | date : "yyyy-mm-dd"}}
          </ion-label>
        </ion-col>
  
        <ion-col class="col_tex_league" size="4">
          <ion-label  class="label_fecha">
            {{match.league_name}}
          </ion-label>
        </ion-col>
      
      </ion-row>
        
      <ion-row>
        <ion-col class="col_nom_eq1" size="3">
          <ion-label class="label_e1">
            {{match.match_hometeam_name}}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            
            <img class="con_img" src="{{match.team_home_badge}}" >
          </ion-item>
          
        </ion-col>
        <ion-col class="col_vs" size="2">
          <ion-label class="label_tittle_vs">
            {{match.match_hometeam_ft_score}} - {{match.match_awayteam_ft_score
            }}
          </ion-label>
        </ion-col>
        
        <ion-col class="col_img" size="2">
          <ion-item lines="none" class="item_avatar">
            <img class="con_img" src="{{match.team_away_badge}}" >
          </ion-item>
        </ion-col>
        
        <ion-col class="col_nom_eq2" size="3">
          <ion-label class="label_e2">
            {{match.match_awayteam_name}}
          </ion-label>
        </ion-col>
      </ion-row> 
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_stadium}}
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="row_fecha">  
        <ion-col class="col_tex_fecha" size="12">
          <ion-label  class="label_estadio">
            {{match.match_status}}
          </ion-label>
        </ion-col>
      </ion-row>
  
  
    </div>
  </div>

  <!--% Fin Partidos Serie B  -->

  <div  *ngIf="opcionB =='clasificacionB'" >

    <ion-segment value="buttons" (ionChange)="changeStadingLigaPro($event)" value='opcStadingB'>
      <ion-segment-button value="firstStadingB">
        <ion-label>Primera Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="secondStadingB">
        <ion-label>Segunda Etapa</ion-label>
      </ion-segment-button>
      <ion-segment-button value="acumuladaB">
        <ion-label>Acumulada</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="opcStadingB == 'firstStadingB'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingOneRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'secondStading'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="1" class="col-cla-title">PTS</ion-col>
          <ion-col size="1" class="col-cla-title">PJ</ion-col>
          <ion-col size="1" class="col-cla-title">PG</ion-col>
          <ion-col size="1" class="col-cla-title">PE</ion-col>
          <ion-col size="1" class="col-cla-title">PP</ion-col>
          <ion-col size="1" class="col-cla-title">GF</ion-col>
          <ion-col size="1" class="col-cla-title">GC</ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let stadingOne of stadingSecondRound" >
          <ion-col class="col-cla" size="1">{{ stadingOne.overall_league_position }}</ion-col>
          <ion-col size="1.1" class="col-cla">
            <img class="con_img" src="{{stadingOne.team_badge}}" >
          </ion-col>
          <ion-col size="2.9" class="col-cla-name">{{ stadingOne.team_name}}</ion-col>
          <ion-col size="1" class="col-cla-pts"> {{ stadingOne.overall_league_PTS }} </ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_payed }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_W }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_D }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_L }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GF }}</ion-col>
          <ion-col size="1" class="col-cla">{{ stadingOne.overall_league_GA }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="opcStading == 'acumulada'">
      <ion-grid>
        <ion-row>
  
          <ion-col size="5" class="col-cla-title">Equipo</ion-col>
          <ion-col size="3" class="col-cla-title">PTS</ion-col>
          <ion-col size="2" class="col-cla-title">GD</ion-col>
          <ion-col size="2" class="col-cla-title">PT</ion-col>

        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row *ngFor="let acumulada of newAcumulada" >

          <ion-col size="5" class="col-cla-name">{{ acumulada.team }}  </ion-col>
          <ion-col size="3" class="col-cla"> {{ acumulada.pts }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.gd }} </ion-col>
          <ion-col size="2" class="col-cla"> {{ acumulada.pt }} </ion-col>

        </ion-row>
      </ion-grid>
    </div>

  </div>




  
</div>


  

</ion-content>


